<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type="text/javascript" src="./js/app.js")
    title Document
  body
    div#display_turn
    div#display_count
    input#btn_first_player(
      type="button",
      value="カウントをへらす"
    )
    input#btn_pass(
      type="button",
      value="パスする"
      disabled
    )
    input#btn_second_player(
      type="button",
      value="カウントをへらす"
      disabled
    )
    //- div
    //-   label(for="プレイヤー1")
    //-   input#btn_first_player(
    //-     type="button",
    //-     value="カウントをへらす"
    //-   )
    //- div
    //-   input#btn_pass(
    //-     type="button",
    //-     value="パスする"
    //-   )
    //- div 
    //-   label プレイヤー2
    //-   input#btn_second_player(
    //-     type="button",
    //-     value="カウントをへらす"
    //-   )
    div#result