<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/app.css")
    script(type="text/javascript" src="./js/app.js")
    title Document
  body
    main(class="main")
      div(class="info")
        div(id="display_turn" class="info__display")
      div(class="display")
        div(id="display_count" class="display__count")
        div(id="result" class="display__result")
        div(id="display_bom" class="display__bom")
      div(class="controller")
        button(
          id="btn_first_player",
          class="controller__button-player",
        ) カウントをへらす
        button(
          id="btn_pass",
          class="controller__button-pass",
          disabled
        ) パスする
        button(
          id="btn_second_player",
          class="controller__button-player",
          disabled
        ) カウントをへらす